body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: arial;
    font-size: 12px;
    overflow: hidden;
}

div.stage {
    height: 576px;
    width: 1068px;
    top: 20px;
    overflow: hidden;
    position: absolute;
    display: inline-block;
}

body div.select {
    margin-left: 224px;
    height: 201px;
    width: 100%;
    background: url(../images/misc/misc/globe.png) no-repeat 0px 0px;
}

body div.char-select {
    margin-left: 256px;
    margin-top: 87px;
    height: 400px;
    width: 100%;
}

body div.next-foe-line1 {
    position: absolute;
    top: 250px;
    left: 280px;
}

body div.next-foe-line2 {
    position: absolute;
    top: 332px;
    left: 408px;
}

body div.question-mark-container {
    display: inline-block;
    width: 64px;
    height: 82px;
}

body div.question-mark {
    position: relative;
    display: inline-block;
    background: url(../images/misc/misc/char-sprites.png) no-repeat 0px 0px;
}

.capcom, .credits, .insert-coin, .press-start, .credits-text {
    position: absolute;
}

.capcom {
    background-image: url(../images/misc/font1/cap.png);
    width: 352px;
    height: 41px;
    bottom: 42px;
    left: 208px;
}

.press-start {
    background-image: url(../images/misc/font1/press-start.png);
    width: 320px;
    height: 21px;
    bottom: 144px;
    left: 224px;
    z-index: 999;
}

.insert-coin {
    background-image: url(../images/misc/font1/insert.png);
    width: 172px;
    height: 21px;
    bottom: 144px;
    left: 292px;
    z-index: 999;
}

.credits-text {
    background-image: url(../images/misc/font1/credits.png);
    width: 320px;
    height: 124px;
    bottom: 0px;
    left: 224px;
}

.credits {
}

.animation-debug {
    position: absolute;
    right: 20px;
    bottom: 50px;
}

.faceoff {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.team1-faceoff, .team2-faceoff {
    position: absolute;
    text-align: center;
    top: 82px;
    background-image: url(../images/misc/misc/head-sprites.png);
}

.faceoff-name {
    display: inline-block;
    position: relative;
    bottom: -310px;
    background-image: url(../images/misc/misc/char-select-sprites.png);
}

.vs {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    top: 285px;
    background-image: url(../images/misc/misc/head-sprites.png);
}

.team1-faceoff {
    left: 66px;
}

.team2-faceoff {
    right: 66px;
}

.player-rect {
    position: absolute;
    border: solid 1px #fff;
}

.superComboFinish {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/misc/misc/scf-sprites.png);
}

.game-speed {
    color: #fff;
}

.menu {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.player-select {
    position: absolute;
    left: 240px;
    top: 30px;
    z-index: 10;
}

.select-stance-p2, .select-stance-p1 {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    background-image: url(../images/misc/misc/char-select-sprites.png)
}

.select-stance-p1 {
    left: 0px;
}

.select-stance-p2 {
    right: 0px;
}

.select-icon {
    position: absolute;
    z-index: 3;
    background-image: url(../images/misc/misc/char-sprites.png);
}

.select-portriat-p1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-image: url(../images/misc/misc/head-sprites.png);
}

.select-portriat-p2 {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
    background-image: url(../images/misc/misc/head-sprites.png);
}

.select-random-p1, .select-random-p2 {
    position: absolute;
    bottom: 42px;
    z-index: 1;
    background-image: url(../images/misc/misc/char-sprites.png);
}

.select-random-p1 {
    left: 256px;
}

.select-random-p2 {
    right: 256px;
}

div.stance-container-p1, div.stance-container-p2 {
    position: absolute;
    z-index: 10;
    bottom: 24px;
    width: 200px;
}

div.stance-container-p1 {
    left: 32px;
}

div.stance-container-p2 {
    right: 32px;
}

.stance-name {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    background-image: url(../images/misc/misc/char-select-sprites.png);
}

.stance-shadow {
    position: absolute;
    z-index: 1;
    background-image: url(../images/misc/misc/char-sprites.png);
}

div.dimBackground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    z-index: 16;
    background: #111;
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}

div.loadingBackground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    z-index: 9999999;
    background: #111;
    text-align: center;
}

span.loading {
    background-color: #222;
    color: #aaaaff;
}

div.loading {
    margin-top: 10px;
}

span.done-loading {
    font-weight: normal;
    color: #006600;
}

div.stage .bg0 {
    position: absolute;
}

div.stage .bg1 {
    position: absolute;
}

div.stage .ken-bg0 {
    top: -20px;
}

div.stage .chunli-bg0 {
    top: 0px;
}

div.stage .mbison-bg0 {
    top: 0px;
}

div.shadow {
    position: absolute;
    bottom: 42px;
    z-index: 0; /*border:solid 1px #000;*/
}

div.shadow .shadow {
    position: absolute;
    bottom: 0px;
    background-image: url(../images/misc/misc/shadow-sprites.png);
}

div.player-dizzy {
    position: absolute;
    bottom: 0px;
    background-image: url(../images/misc/misc/misc-sprites.png);
    background-color: Transparent;
    z-index: 14;
}

div.player-fire {
    position: absolute;
    bottom: 0px;
    background-image: url(../images/misc/misc/blast-sprites.png);
    background-color: Transparent;
    z-index: 14;
}

div.player {
    position: absolute;
    bottom: 35px;
    z-index: 1; /*border:solid 1px #000;*/
}

div.player .player-sprite {
    position: relative;
    bottom: 0px;
}

div.basic-animation {
    position: absolute;
}

div.Announce {
    position: absolute;
    top: 143px;
    width: 100%;
    text-align: center;
    background: Transparent;
    z-index: 99999;
}

div.Announce span {
    display: inline-block;
    position: relative;
    width: 0px;
    background-image: url(../images/misc/misc/announcer-sprites.png);
}

/*div.loading{position:absolute;left:40%;top:40%;text-align:center;font-family:arial;font-size:300%;}*/
div.show-keys {
    z-index: 3000;
    padding: 3px 0;
    background: #222;
}

div.team2Keys div.show-keys, div.team1Keys div.show-keys {
    margin-top: 100px;
    border-bottom: solid 1px #000;
    padding: 3px 0;
    background: #222;
}

div.team1Keys, div.team2Keys {
    display: none;
    position: absolute;
    width: 280px;
    bottom: 200px;
}

div.team1Keys {
    color: #aaaaff;
    left: 0px;
}

div.team2Keys {
    color: #ff6666;
    right: 0px;
}

.state {
    margin: 3px 0;
}

.running span {
    background-color: #006600;
}

.paused span {
    background-color: #aaa;
    color: #000;
}

.state.paused span.audio-loading {
    background-color: #ff6666;
    color: #0000ff;
}

.frame-rate {
    background: #006600;
}


div.projectile {
    position: absolute;
    bottom: 35px;
    z-index: 16;
    background-position: 0 0;
    background-repeat: no-repeat;
}

div.circle-debug {
    position: absolute;
}

b.right {
    display: none;
    background-color: #ff0000;
}

b.left {
    display: none;
    background-color: #0000ff;
    color: #fff;
}

b.bDebug {
    background-color: #00ff00;
    height: 1px;
    width: 1px;
}

b.hit {
    background-color: #ff0000;
    color: #fff;
    z-index: 100;
}

b {
    position: absolute;
    display: inline-block;
    width: 10px;
    line-height: 15px;
    vertical-align: middle;
    color: #000;
    text-align: center;
    font-size: 8px;
    text-transform: uppercase;
}

div.team {
    position: absolute;
    top: 20px;
    z-index: 0;
}

div.team div {
    position: absolute;
}

div.team img {
    position: absolute;
}

div.team div.health-bar {
    top: 20px;
}

div.team div.health-bar .health-bar-item {
    background-image: url(../images/misc/misc/bars-sprites.png);
}

div.team div.health-bar .damage, div.team div.health-bar .life {
    top: 5px;
    height: 25px;
    background-repeat: repeat-x;
}

div.team div.health-bar .damage {
    background-image: url(../images/misc/misc/health-bar-damage.png);
}

div.team div.health-bar .life {
    background-image: url(../images/misc/misc/health-bar-life.png);
}

div.team .portriat {
    top: 23px;
    background-image: url(../images/misc/misc/char-sprites.png);
}

div.team .name {
    top: 108px;
    background-image: url(../images/misc/misc/char-sprites.png);
}

div.team1 {
    left: 0px;
}

div.team1 div.health-bar {
    left: 59px;
}

div.team1 div.health-bar .health-bar-item {
    left: 0px;
}

div.team1 div.health-bar .damage {
}

div.team1 div.health-bar .life {
    right: -292px;
}

div.team1 .name {
    left: 0px;
}

div.team1 .portriat {
    left: 0px;
}

div.team1 .portriat, .flipped {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: scale(-1, 1);
    -ms-transform: rotateY(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
}

div.team2 {
    right: 0px;
}

div.team2 div.health-bar {
    right: 59px;
}

div.team2 div.health-bar .health-bar-item {
    right: 0px;
}

div.team2 div.health-bar .damage {
}

div.team2 div.health-bar .life {
    left: -292px;
}

div.team2 .name {
    right: 0px;
}

div.team2 .portriat {
    right: 0px;
}

.dirt, .big-dirt, .front-hit-report, .rear-hit-report {
    position: absolute;
    z-index: 15;
    background-position: 0 0;
    outline: none;
    border: none;
}

.dirt {
    background-image: url(../images/misc/misc/dirt-sprites.png);
}

.big-dirt {
    background-image: url(../images/misc/misc/dirt-sprites.png);
}

.front-hit-report {
    background-image: url(../images/misc/misc/blast-sprites.png);
}

.rear-hit-report {
    background-image: url(../images/misc/misc/blast-sprites.png);
}

.team1-energy-bar-container, .team2-energy-bar-container {
    position: absolute;
    bottom: 5px;
    z-index: 99998;
}

.team1-energy-bar-container {
    left: 25px;
}

.team2-energy-bar-container {
    right: 25px;
}

div.energy-bar {
    width: 336px;
}

.energy-bar, .inner-energy-bar {
    z-index: 1000;
}

div.inner-energy-bar {
    bottom: 0px;
    width: 336px;
    height: 49px;
    background-image: url(../images/misc/misc/bars-sprites.png);
}

div.team1-energy-bar-container .level-0-energy, div.team1-energy-bar-container .level-1-energy, div.team1-energy-bar-container .level-2-energy {
    z-index: 1001;
    position: absolute;
    height: 16px;
    bottom: 23px;
    background-repeat: repeat-x;
}

div.team1-energy-bar-container div.energy-bar {
    right: -355px;
    bottom: -554px;
}

div.team1-energy-bar-container div.inner-energy-bar {
    right: 0px;
}

div.team1-energy-bar-container .level-0-energy {
    right: 4px;
    background-image: url(../images/misc/misc/energy-bar-lvl0.png);
}

div.team1-energy-bar-container .level-1-energy {
    right: 100px;
    background-image: url(../images/misc/misc/energy-bar-lvl1.png);
}

div.team1-energy-bar-container .level-2-energy {
    right: 196px;
    background-image: url(../images/misc/misc/energy-bar-lvl2.png);
}

div.team2-energy-bar-container .level-0-energy, div.team2-energy-bar-container .level-1-energy, div.team2-energy-bar-container .level-2-energy {
    z-index: 1001;
    position: absolute;
    height: 16px;
    bottom: 23px;
    background-repeat: repeat-x;
}

div.team2-energy-bar-container div.energy-bar {
    left: -355px;
    bottom: -554px;
}

div.team2-energy-bar-container div.inner-energy-bar {
    left: 0px;
}

div.team2-energy-bar-container .level-0-energy {
    left: 4px;
    background-image: url(../images/misc/misc/energy-bar-lvl0.png);
}

div.team2-energy-bar-container .level-1-energy {
    left: 100px;
    background-image: url(../images/misc/misc/energy-bar-lvl1.png);
}

div.team2-energy-bar-container .level-2-energy {
    left: 196px;
    background-image: url(../images/misc/misc/energy-bar-lvl2.png);
}

div div.Text {
    z-index: 15;
    position: absolute;
    background: Transparent;
    line-height: 50px;
}

div div.Text img {
    vertical-align: top;
    z-index: 5000;
    background: Transparent;
}

.hidden {
    background-color: Transparent;
}

.projectile-editor {
    float: left;
}

.projectile-editor .selected-projectile {
    float: left;
}

.projectile-editor .selected-projectile .item {
    float: left;
    clear: both;
}

.projectile-editor .selected-projectile .item .label {
    float: left;
    width: 50px;
    text-align: right;
}

.projectile-editor .selected-projectile .item .input {
    float: left;
    margin-left: 10px;
}

.button {
    width: 100px;
    margin: 5px;
}

.start-game-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    text-align: center;
}

.start-game-container img {
    width: 50%;
    margin: 15px 0;
}

html .start-game-container button {
    position: relative;
    font-size: 600%;
    background-color: #f1f1f1;
    border-radius: 15px;
    border: none;
    padding: 15px;
	color: #000;
}

.debug-modal {
	color: #000;
	z-index: 9999999999;
	position: absolute;
	top: 10px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: #aaa 0 0 10px 5px;
}

.subtitle {
	font-size: 125%;
	font-weight: 600;
}
.modal-header, .modal-body {
	display: flex;
	padding: 10px;
}
.modal-header {
}
.modal-header span.title {
	font-weight: bold;
	flex-grow: 1;
	font-size: 200%;
}
.modal-body {
	flex-direction: column;
}
.debug-main-container {
}
.debug-qm-container, .debug-main-container, .debug-pe-container, .debug-other-container {
	padding: 10px 50px;
}
.debug-qm-teams-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 20px;
}
.debug-qm-team {
	width: 40%;
}
.debug-qm-stage-selector-container {
	display: flex;
	flex-direction: column;
}
.debug-qm-stage-selector {
	width: 100%;
	margin-bottom: 15px;
}
.debug-qm-team,.debug-qm-stage-selector {
	display: flex;
	flex-direction: column;
}
select.player-selector {
	width: 100%;
}
.debug-qm-team-controls {
	display: flex;
}
.debug-qm-team-controls > button {
	width: 100%;
}

.debug-qm-details {
	padding: 10px;
	background-color: #aaddff;
}

.debug-qm-controls {
	margin-top: 5px;
}

.player-selectors-container {
	margin-bottom: 5px;
}

.team-desc {
	font-weight: 600;
}

.stage-desc {
	font-weight: 600;
}

select {
	padding: 5px;
}

.tab-menu {
	display: flex;
	background-color: #eee;
	border-bottom: solid 1px #000;
}

.tab {
	border: none;
}

.tab.selected {
	font-weight: 600;
	border-bottom: 2px solid #000;
}

button {
	color: #fff;
	background-color: #337ab7;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #2e6da4;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 4px;
}

.tab.selected button {
	color: #000;
}

.tab button {
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
}
button.close-button {
	background-color: #d9534f;
	border-color: #d43f3a;
}
.error {
	color: #d9534f;
}
.success {
	color: #5cb85c;
}
.show-debug-modal {
	position: fixed;
	top: 601px;
}
.show-debug-modal button {
	font-size: 2rem;
}
.item-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px 10px;
}
.item-row .label {
	width: 75px;
	text-align: right;
}
.item-row .input {
	margin-left: 5px;
	text-align: right;
}
.item-row .input-multi {
	margin-left: 5px;
}
.projectile-flags {
	display: flex;
	flex-direction: column;
}
.grayed-out {
	color: #bbb;
}
